/* GAMMAFP */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "press2";
    src: url("../../PressStart2P-Regular.ttf");
}
#out {
    font-family: "press2";
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

div.row {
    display: flex;
    outline: 1px solid black;
}

span.col {
    outline: 1px solid black;
    display: inline-block;
    overflow: hidden;
}

canvas,
img {
    image-rendering: crisp-edges !important;
}

/* lpzMagdiel */
nav,footer{
    font-family: "press2";
    width: 100%;
    height: 40px;
    background-color: black;
    color: #00F5F8;
}
nav h3{
    padding-top: 10px;
    padding-left: 10px;
}
header{
    width: 100%;
    min-height: 70vh;
    background: url("../img/header2.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 50;
}
.rot-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}
.rot{
    width: 100%;
    height: 80px;
    background: #ffffff;
    transform: rotate(2.5deg);
    margin-top: -50px;
    margin-left: -1px;
    position: absolute;
    z-index: 100;
}
.container{
    width: 90%;
    min-height: 400px;
    margin-left: 5%;
    background: #ffffff;
    margin-bottom: 80px;
}
label{
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
}
input{
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
    margin-left: 0px;
    outline: none;
}
input:hover{
    border: 1px solid #14283D;
}
.btn{
    background-color: #14283D;
    border: 1px solid #14283D;
    color: #ffffff;
    min-height: 40px;
    border-radius: 20px;
}
.btn-1{
    background-color: #14283D;
    border: 1px solid #14283D;
    color: #ffffff;
    min-height: 40px;
    border-radius: 20px;
}
#changeFont{
    visibility: hidden;
    width: 0;
    position: relative;
  }
  #changeFont::before {
    content: 'Subir fuentes';
    display: inline-block;
    background: #14283D;
    min-height: 20px;
    border: 1px solid #14283D;
    border-radius: 20px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    color: #ffffff;
    
  }
.out,.config{
    float: left;
    width: 48%;
}
.out{
    float: right;
}
footer{
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}
footer a{
    color: #00F5F8;
}

/*   adaptar a moviles    */
@media (max-width: 750px) {
    header{
        height: 30vh;
        background-attachment: initial;
    }
    .out,.config{
        float: none;
        width: 100%;
    }
    .out{
        margin-top: 50px;
    }
  }