<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTF - png</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> -->
    <link rel="stylesheet" href="index_assets/css/index.css">
</head>

<body ng-app="ttf_app">
    <nav><h3>TTF to PNG</h3></nav>
    <header>
           
    </header>
    <div class="rot-container">
            <div class="rot"></div> 
    </div>
    <div class="container" ng-controller="controlador" ng-init="init()">
        <div class="config">
        <label>Font name: </label><br>
        <input type="text" placeholder="nombre de fuente" ng-model="nombre" ng-change="cambio()">
        <br>
        <label>Letters:</label><br>
        
        <input type="text" placeholder="meta acá su texto" ng-model="valor" ng-change="cambio()">
        <br>
        
         <label>Char per row:</label><br>
        <input type="number" ng-model="rowCount" ng-change="cambio()">
        <br> <label>Font size:</label><br>
        <input type="number" ng-model="fontSize" ng-change="cambio()">
        <br>
        <label>Color: </label><br>
        
        <input type="text" ng-model="colorFont" ng-change="cambio()">
        <input type="color" ng-model="colorFont" ng-change="cambio()">
        <br>
        <label>Import fonts: </label><br>
        
            <input type="file" name="changeFont" id="changeFont" class="inputfile custom"/>
        </div>
        <div class="out">
        <div id="out">
            <div class="row" ng-repeat="arr in arreglos">
                <span class="col" ng-repeat="bitmap in arr track by $index" ng-style="styleBoxSize">
                    {{bitmap}}
                </span>
            </div>
        </div>
        <br>
        <div class="json_output">
            <br>
            <label>Output metadata (use in Phaser 3):</label>
            <pre>
                {{metaBitmap | prettyJSON}}
            </pre>
        </div>
        <br>
        <input type="button" ng-click="generar()" value="Create font" class="btn">
    </div>
    </div>
    <footer>Created by: <a href="https://github.com/gammafp">Gammafp</a> and  <a href="https://github.com/lpmagdiel">lpzMagdiel</a></footer>
    <script src="./src/angular.min.js"></script>
    <script src="./src/html2canvas.min.js"></script>
    <script src="./src/libs.js"></script>
    <script src="./src/main.js"></script>
</body>

</html>